@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "2FA-s alkalmazás konfigurálása";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>To use an authenticator app go through the following steps:</p>
    <ol class="list">
        <li>
            <p>
                tölts le egy 2 lépcsős aznosító alkalmazást mint a Microsoft Authenticator
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android-ra</a> és
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS-re</a> vagy
                Google Authenticator
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android-ra</a> és
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS-re</a>.
            </p>
        </li>
        <li>
            <p>Scanneld be a QR kódodt vagy írd be ezt a kódot <kbd>@Model.SharedKey</kbd> az azonosító alkalmazásodba. Szóközök és kis-nagybetűk nem számítanak</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Miután bescannelted a QR codot vagy beírtad a jelszót, az azonosító alkalmazásod egy egyedi kulcsot biztosít neked, az írd be alulra.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Azonosító kód</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Ellenőrzés</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
